*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color:blueviolet;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
}
.sidebar{
    width: 240px;
    
    padding: 30px;
    background: linear-gradient(180deg,#5c5cff,#7c6c);
}
.menu{
    list-style: none;

}
.menu li{
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 70px;
    transition: 0.3s;
    padding: 20px;

}
.menu li:hover{
    background: blue;
}
.container{
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
    width: 900px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}
input,textarea{
    height: 300px;
    width: 50%;
    margin-top: 100px;
    border-radius: 20px;
    border-color: #5c5cff;
}
h1{
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    
}
